@model MedicationInventoryManagement.Models.ViewModels.AllMedicationsViewModel;

@{
    ViewData["Title"] = "Medication Inventory";
}

<div class="position-fixed end-0 me-3">
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        @await Html.PartialAsync("_ErrorMessage", error.ErrorMessage)
        ;
    }
</div>

<div class="row justify-content-center">
    <div class="col-lg-7">
        <a href="@Url.Action("Create", "Home")" class="btn btn-primary btn-sm mt-1 mb-2">Add new medication</a>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h2 class="card-title">Medication Inventory</h2>
                @if (@Model.Medications != null && @Model.Medications.Count() > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medication Name</th>
                                <th>Expiration Date</th>
                                <th>Quantity</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var medication in Model.Medications)
                            {
                                <tr>
                                    <td>@medication.MedicationName</td>
                                    <td>@(medication.ExpirationDate.HasValue ? medication.ExpirationDate.Value.ToString("dd MMM yyyy"): "")</td>
                                    <td>@medication.Quantity</td>
                                    <td>
                                        <a href="@Url.Action("Reduce", "Home", new { id = medication.MedicationId })" class="btn btn-warning btn-sm">Reduce Quantity</a>
                                        <a href="@Url.Action("Delete", "Home", new { id = medication.MedicationId })" class="btn btn-danger btn-sm">Remove</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <h3>No medication in System</h3>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
